html, 
body {
    height: 100%;

    .login-admin-box {
        height: 100% !important;
        background-image: url('../../assets/images/admin_bg.jpeg');
        background-size: cover;
    }

    .login-user-box {
        height: 100% !important;
        background-image: url('../../assets/images/user_bg.jpeg');
        background-size: cover;
    }
}