<% content_for :content do %>
  <%= render "layouts/user/header" %>
  <main>
    <section class="container py-5">
      <%= yield %>
    </section>
  </main>
<% end %>

<%= render template: "layouts/application" %>